
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
/* HERE STARTS THE MAGIC */
header {
    text-align: center;
    color: #fff;
    background: #18bc9c;

    position: fixed;
    width:100%;
    z-index: 1;
    height: 88%;
    overflow: hidden;
    top: 0;
    left: 0;
}

.content-wrapper{
    background-color: white;
    top: 87%;
    min-height: 12%;
    position:absolute;
    z-index: 2;
    width: 100%;    
}
/* HERE ENDS THE MAGIC */
header .container {
    padding-top: 150px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

section {
    padding: 100px 0;    
    width: 100%;
}

section h2 {
    margin: 0;
    font-size: 3em;
}
hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}

section.primary h2{    
    color: #2c3e50;
    }
    
section.success{
    background-color: #18bc9c;
    color: #fff;
    }


    
    
    

/*
Styles related DIRECTLY with jQuery-simple-pagination
*/
.simple-pagination-page-numbers a
{
	display: block;
	float: left;
	width: 2rem;
	text-align: center;
}
a
{
	color: #216ed9;
	text-decoration: none;
}
a h1
{
	padding: 2rem;
	color: #216ed9;
	text-align: center;
}
a:hover
{
	text-decoration: underline;
}
a[class^="simple-pagination-navigation-"] + a[class^="simple-pagination-navigation-"]
{
	margin-right: 0;
}
a[class*="simple-pagination-navigation-disabled"]
{
	color: black;
	cursor: default;
}

/*
Styles used to page things look nice :)
*/
*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
body
{
	font: 1rem/1rem Helvetica, sans-serif;
	background-color: #22d921;
}
h1,
h2,
h3,
h4,
h5,
h6
{
	line-height: 2em;
}
h1
{
	color: #9b21d9;
}
h3
{
	color: white;
}
h4
{
	border-radius: .25rem;
	margin: 1rem 0;
	padding: .5rem;
	background-color: white;
	color: #ff2727;
}
header
{
	border-radius: .5rem .5rem 0 0;
	padding-top: 3rem;
	padding-bottom: 3rem;
	background-color: #9b21d9;
}
#header
{
	border-radius: .5rem;
}
body > div,
header
{
	width: 50%;
	margin: 0 auto;
	padding: 2rem;
}
body > div + header
{
	margin-top: 6rem;
}
body > div
{
	border-radius: 0 0 .5rem .5rem;
	background-color: white;
}
body > div > div,
div > div + table
{
	margin-top: 1rem;
}
select
{
	border: 1px solid black;
	font-size: 13px;
}
i
{
	padding: .125rem .5rem;
	background-color: white;
	color: #ff2727;
	font-weight: normal;
}
.my-navigation:after
{
	content: "";
	display: table;
	clear: both;
}
.my-navigation div
{
	float: left;
}
.my-navigation div + div
{
	margin-left: .5rem;
}




@media screen and (max-width: 959px){
	body > div,
	header
	{
		width: 90%;
	}
}